<div class="mt-14  space-y-3 ">
    <!--  -->
    <div class="flex items-center gap-5 w-full  text-xs">

        {% include 'snippets/styles/icon/icons_wifi.html' %}

        <span class="max-w-[200px]">
                Free Wifi 24 Jam Tanpa batas
            </span>
    </div>
    <!--  -->
    <div class="flex  items-center gap-5 w-full  text-xs">

        {% include 'snippets/styles/icon/icons_cctv.html' %}

        <span class="max-w-[200px]">
                CCTV
            </span>
    </div>
    <!--  -->
    <div class="flex  items-center gap-5 w-full  text-xs">

        {% include 'snippets/styles/icon/icons_gembok.html' %}

        <span class="max-w-[200px]">
                Kunci gerbang
            </span>
    </div>
    <!--  -->
    <div class="flex  items-center gap-5 w-full  text-xs">

        {% include 'snippets/styles/icon/icons_air.html' %}

        <span class="max-w-[200px]">
                Air
            </span>
    </div>
    <!--  -->
    <div class="flex  items-center gap-5 w-full  text-xs">

        {% include 'snippets/styles/icon/icons_parkiran_motor.html' %}

        <span class="max-w-[200px]">
                Parkiran motor
            </span>
    </div>
    <!--  -->



</div>