<div class="mt-14  space-y-3 ">
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Gerbang terbuka 24 Jam
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Luas 3m x 3m (Tidak termaksud toilet)
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Kamar mandi dalam
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Listrik Prabayar
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Teras Luas
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Tersedia parkiran motor
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Menerima kos Putra dan putri
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Dilengkapi sistem CCTV
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>
    <div class="flex justify-between gap-5 w-full px-10 text-xs">
        <span class="max-w-[200px]">
            Jaringan Wifi unlimited
        </span>

        {% include 'snippets/styles/icon/icons_centang.html' %}

    </div>


</div>