{% load static %}
<div class="flex flex-col  justify-center mt-14 w-full space-y-7">
    <a href="{% url 'dana' %}" class="flex justify-center">
    
        <img class="w-32" src="{% static 'icons/icons_dana.png' %}" alt="">
    </a>
    <a href="{% url 'bni' %}" class="flex justify-center">
    
        <img class="w-28" src="{% static 'icons/icons_bni.png' %}" alt="">
    </a>
    <a href="{% url 'linkAja' %}" class="flex justify-center">
    
        <img class="w-14" src="{% static 'icons/icons_linkaja.png' %}" alt="">
    </a>
</div>