<div class="mt-16 md:mt-0 py-5 w-64 rounded-lg space-y-3 bg-[#FFEBEE]">
    <div class="mx-8 flex-col space-y-5 pb-5 border-b-2  border-[#F26929]">
        <span class=" w-full font-medium text-xl">
            Shappar
        </span>
        <span class=" text-xs ">
            Admin 2
        </span>
    </div>
    <div class="flex flex-col justify-center items-center w-full space-y-5 ">

        <a class="flex justify-center items-center gap-5 w-52 py-2 px-5  rounded-md text-xs text-white bg-gradient-to-tr from-[#FF6A88] to-[#FF99AC]"
            href="tel:+6282187421886">
            {% include 'snippets/styles/icon/icons_telepon.html' %}
            <span>
                Via Telepon
            </span>
        </a>
        <a class="flex justify-center items-center gap-5 w-52 py-2 rounded-md text-xs text-white bg-gradient-to-tr from-[#FF6A88] to-[#FF99AC]"
            href="{{pesan_safar}}">
            {% include 'snippets/styles/icon/icons_wa.html' %}
            <span>
                Via Whatsapp
            </span>
        </a>
    </div>

</div>