{% with request.resolver_match.url_name as url_name %}

<div class="relative w-max h-auto p-7 rounded-xl bg-[#FFEBEE]">
    <div class="absolute  top-0 right-0 p-2 border-promo text-xs text-white bg-[#F26929]">
        Harga {{normal}}
    </div>
    <!--  -->
    <div class="flex flex-col justify-center w-auto items-center mt-14">
        <div class=" text-base font-semibold">
            Paket Mingguan
        </div>
        <div class="flex  mt-5  font-semibold 
        
        {% if url_name == 'admin' %}
        text-xs flex-row items-center
        {% else %}
        text-2xl flex-col
            
        {% endif %}
            
        ">
        
        {% if url_name == 'admin' %}
            Rp. {{harga_mingguan.mingguan}}/
        {% else %}
            Rp. {{harga_mingguan}}/

        {% endif %}
            
            
            <span class="text-xs">
                Minggu
            </span>
        </div>

    </div>
    <!-- isi -->
    <div class="flex flex-col justify-between mt-7 pt-7 space-y-4 text-sm border-t-2  border-[#B0B0B0]">
        <!--  -->
        <div class="flex justify-between gap-5 w-full">
            <span class="max-w-[200px]">
                Free WI-FI 24 Jam tanpa batas
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}

        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-full">

            <span class="max-w-[200px]">
                Free Air
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Dilengkapi CCTV di berbagai sudut bangunan
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}


        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Akses CCTV
            </span>
            {% include 'snippets/styles/icon/icons_silang.html' %}
        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Modifikasi warna cat kamar
            </span>
            {% include 'snippets/styles/icon/icons_silang.html' %}
        </div>
                <div class="flex justify-between gap-5 w-auto">
                
                    <span class="max-w-[200px]">
                        Kunci gerbang
                    </span>
                    {% include 'snippets/styles/icon/icons_centang.html' %}
                </div>
    </div>

</div>
{% endwith %}