<div class="relative w-max h-auto p-7 rounded-xl bg-[#FFEBEE]">
    <div class="absolute  top-0 right-0 p-2 border-promo text-xs text-white bg-[#F26929]">
        Harga {{normal}}
    </div>
    <!--  -->
    <div class="flex flex-col justify-center w-auto items-center mt-14">
        <div class=" text-base font-semibold ">
            Paket Bulanan
        </div>
        <div class="flex flex-col mt-5 text-2xl font-semibold">
            Rp. {{harga_bulanan}}/
            <span class="text-xs">
                Bulan
            </span>
        </div>

    </div>
    <!-- isi -->
    <div class="flex flex-col justify-between mt-7 pt-7 space-y-4 text-sm border-t-2  border-[#B0B0B0]">
        <!--  -->
        <div class="flex justify-between gap-5 w-full">
            <span class="max-w-[200px]">
                Free WI-FI 24 Jam tanpa batas
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}

        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-full">

            <span class="max-w-[200px]">
                Free Air
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Dilengkapi CCTV di berbagai sudut bangunan
            </span>

            {% include 'snippets/styles/icon/icons_centang.html' %}


        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Akses CCTV
            </span>
            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <!--  -->
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Modifikasi warna cat kamar
            </span>
            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <div class="flex justify-between gap-5 w-auto">
        
            <span class="max-w-[200px]">
                Kunci gerbang
            </span>
            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <!-- <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Kawasan beraspal
            </span>
            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div>
        <div class="flex justify-between gap-5 w-auto">

            <span class="max-w-[200px]">
                Bebas banjir
            </span>
            {% include 'snippets/styles/icon/icons_centang.html' %}
        </div> -->
    </div>

</div>