<section id="layanan" class="flex flex-col justify-center items-center pb-16 pt-5 text-[#474444] ">
    <span class="text-2xl font-extrabold my-16">
        Layanan Kami
    </span>

    <div class="flex justify-center items-center w-56 md:w-80">

        <span>
            Admin yang ramah dan sigap membantu menjawab
            pertanyaan anda!
            <p class="mt-5">
                Tertarik dengan kos-kosan kami?
                jangan malu untuk
                bertanya tentang detail kos
            </p>
        </span>
    </div>
    <!-- card admin -->
    <div id="telepon" class="flex flex-col pb-10 md:pb-1 pt-24 md:pt-16 md:flex-row md:space-x-14">

       {% include 'snippets/styles/card/admin1.html' %}
       {% include 'snippets/styles/card/admin2.html' %}
        
    </div>
    

   

</section>