{% with request.resolver_match.url_name as url_name %}


<div class="fixed flex justify-between items-center w-full md:px-24 px-5 p-5  mb-5 z-50 bg-[#FFEBEE]">
    <div class="flex justify-between font-bold mr-20 lg:mr-0">
        <a href="/" class="flex gap-2 w-max">
            <span class="">Kost</span>
            <span class=" text-[#FF6A88] ">MALINDO</span>
        </a>
    </div>
    <div class="header-menu  gap-5 justify-center items-center text-sm text-[#4F4B4B]
    
    {% if url_name == 'home' %}
        hidden md:flex
    {% else %}
        hidden
    {% endif %}
    ">

        <a href="#home" class="home ">Beranda</a>


        <a href="#galeri1" class="galeri1 syarat">Detail</a>


        <a href="#layanan" class="layanan">Layanan</a>
        <div
            class="flex w-max items-center justify-center gap-4 lg:ml-16 mr-5 px-4 py-2 rounded-lg text-sm text-white bg-gradient-to-tr from-[#FF6A88] to-[#FF99AC]">

            <a href="#telepon">Hubungi Kami</a>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H3.153C3.38971 0.000108969 3.6187 0.0841807 3.79924 0.23726C3.97979 0.390339 4.10018 0.602499 4.139 0.836L4.879 5.271C4.91436 5.48222 4.88097 5.69921 4.78376 5.89003C4.68655 6.08085 4.53065 6.23543 4.339 6.331L2.791 7.104C3.34611 8.47965 4.17283 9.72928 5.22178 10.7782C6.27072 11.8272 7.52035 12.6539 8.896 13.209L9.67 11.661C9.76552 11.4695 9.91994 11.3138 10.1106 11.2166C10.3012 11.1194 10.5179 11.0859 10.729 11.121L15.164 11.861C15.3975 11.8998 15.6097 12.0202 15.7627 12.2008C15.9158 12.3813 15.9999 12.6103 16 12.847V15C16 15.2652 15.8946 15.5196 15.7071 15.7071C15.5196 15.8946 15.2652 16 15 16H13C5.82 16 0 10.18 0 3V1Z"
                    fill="white" />
            </svg>
        </div>
    </div>
    <div class="
    {% if url_name == 'home' %}
        hidden
    {% else %}
        block
    {% endif %}
    
    {% if url_name == 'login'%}
        hidden
    {% endif %}
        
        ">
        {% if url_name == 'admin'%}
            <a href="/">Logout</a>

        {% else %}
        <button class="text-[#4F4B4B]" onclick="history.back()" >Kembali</button>
        {% endif %}
            
    </div>
</div>

{% endwith %}

<script>
    // let sections = document.querySelectorAll("section");
    window.addEventListener("scroll", () => {
        let current = "";
        sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;
            if (pageYOffset >= sectionTop - sectionHeight / 3) {
                current = section.getAttribute("id");

            }
        });
        // console.log(pageYOffset)

        let a = document.querySelectorAll(".header-menu a")
        a.forEach((el) => {
            el.classList.remove("font-bold","text-[#FF6A88]");
            if (el.classList.contains(current)) {
                 el.classList.add("font-bold","text-[#FF6A88]");
            }
        });
    })
</script>
