{% extends 'base.html' %}

{% block navbar %}

    {% include 'snippets/navbar.html' %} 
    
{% endblock navbar %}


{% block header %}
    {% include 'snippets/header.html' %} 
{% endblock header %} 


{% block paket %} 
    {% include 'snippets/paket.html' %} 
{% endblock paket%} 

{% block detail %}
    {% include 'snippets/detail.html' %}   
{% endblock detail %}

{% block layanan %} 
    {% include 'snippets/layanan.html' %} 
{% endblock layanan %} 


{% block footer %}
    {% include 'snippets/footer.html' %} 
{% endblock footer %}


{% block botNavbar%} 
    {% include 'snippets/botNavbar.html' %} 
{% endblock botNavbar %}